.navlink {
    color: #009e9e;
    font-size: 25px;
    text-decoration: none;
}

.navlink:hover {
    text-decoration: none;
}

.active:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}